* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.iconos {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.face img {
	height: 30px;
	width: 30px;
	margin: 10px;
}

.face img:hover {
	opacity: 0.8;
}

.insta img {
	height: 30px;
	width: 30px;
	margin: 10px;
}

.insta img:hover {
	opacity: 0.8;
}

.wpp img {
	height: 30px;
	width: 30px;
	margin: 10px;
}

.wpp img:hover {
	opacity: 0.8;
}

footer p {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: rgb(29, 25, 25);

}
.navbar-brand img{
	width: 48px;
	height: 48px;
}

@media (max-width: 575.98px) {

	.hero {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 35vh;
		font-size: 36px;
		text-transform: uppercase;
	}

	.secciones {
		width: 90%;
		max-width: 1200px;
		margin: 100px auto;
		display: flex;
		flex-direction: column;
		position: relative;
	}



	.evento {
		display: flex;
		justify-content: space-between;
		margin-bottom: 200px;
		position: relative;
	}


	.texto {
		display: flex;
		align-items: center;
		justify-content: start;
		width: calc(42% + 20px);
		font-size: 17px;
		font-weight: normal;
	}

	.texto-desk {
		display: flex;
		align-items: center;
		justify-content: start;
		width: calc(42% + 20px);
		font-size: 17px;
		font-weight: normal;
		display: none;
	}


	.foto {
		width: 50%;
		border: 10px solid rgb(182, 231, 184);
		position: relative;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	}

	.foto::after {
		content: "";
		display: block;
		border: 20px solid transparent;
		border-left: 20px solid rgb(189, 238, 206);
		position: absolute;
		right: -50px;
		top: calc(50% - 20px);
	}

	.foto img {
		width: 100%;
		vertical-align: top;
	}

	.evento:nth-child(even) {
		flex-direction: row-reverse;
	}

	.evento:nth-child(even) .fecha {
		justify-content: end;
	}

	.evento:nth-child(even) .foto::after {
		content: "";
		border: 20px solid transparent;
		border-right: 20px solid #fff;
		right: initial;
		left: -50px;
	}

	
}